.text-danger {
    color:#dc3545 !important;
}

.login-form {
    margin-top: 30px;
}

.login-form input[type=submit] {
    margin-top: 20px;
}

.login-form label {
    margin-top: 5px;
}

.login-form input[type=text] {
    width: 350px;
}

.login-form input[type=password] {
    width: 350px;
}

.navbar-menu {
    list-style: none;
    display: flex;
}

.navbar-menu ul {
    flex-direction: row;
}

.navbar-menu li {
    margin-left: 30px;
}

.navbar-menu form {
    margin-top: 7px;
}

.navbar-menu-left {
    list-style: none;
    position: absolute;
}

.navbar-menu-left  ul {
    flex-direction: row;
}

.navbar-menu-left li {
    margin-left: 10px;
}

.space-from-top {
    margin-top: 10px;
}

span.validation-error {
    color: red;
}

.checkbox-for-grid {
    height: 12px;
}

#project-statuses {
    min-width: 200px;
    max-width: 200px;
    margin-right: 20px;
}

#projects {
    min-width: 400px;
    max-width: 400px;
}

#users {
    min-width: 723px;
    max-width: 723px;
}

.task-status {
    max-height: 75px;
    min-height: 75px;
}

.float-right {
    float: right;
}

.statuses {
    width: 150px;
}