<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container login-form">
        <form id="changePasswordForm">
            <label for="oldPassword">Old Password: </label>
            <div>
                <input type="password" name="oldPassword" id="oldPassword" /><br/>
            </div>
            <label for="newPassword">New Password: </label>
            <div>
                <input type="password" name="newPassword" id="newPassword" /><br/>
            </div>
            <label for="confirmPassword">Confirm Password: </label>
            <div>
                <input type="password" name="confirmPassword" id="confirmPassword" /><br/>
            </div>
            <input type="submit" value="Change password" id="button"/>
        </form>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.1/jquery.validate.min.js"></script>
    <script th:src="@{/scripts/changePassword.js}"></script>
</body>
</html>