<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:th="http://www.thymeleaf.org">
    <title>Manage tasks</title>

    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="navbar-menu-left flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-menu flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item" sec:authorize="hasAnyAuthority('manage_users')">
                            <a class="nav-link text-dark" href="/users">Manage users</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('manage_projects')">
                            <a class="nav-link text-dark" href="/projects">Manage projects</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form method="POST" th:action="@{/logout}">
                                <input type="submit" value="Logout" style="border: 0px;"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="project-statuses">Project Status</label>
            </div>
            <select class="custom-select" id="project-statuses" >
                <option th:each="status : ${actionStatuses}" th:value="${status.getId()}" th:text="${status.getName()}">
                </option>
            </select>
            <div class="input-group-prepend">
                <label class="input-group-text" for="projects">Project</label>
            </div>
            <select class="custom-select" id="projects" >
                <option th:each="project : ${projects}" th:value="${project.getId()}" th:text="${project.getName()}">
                </option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="users">For Users</label>
            </div>
            <select class="custom-select" id="users" >
                <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getFirstName() + ' ' + user.getLastName() + (user.getEmail() ==  null ? '' : (' [' + user.getEmail() + ']'))}">
                </option>
            </select>
        </div>

        <div class="space-from-top" id="tasks-grid-area">
            <table id="tasks-datagrid" class="easyui-datagrid"
                   rownumbers="true" pagination="true">
                <thead>
                <tr>
                    <th field="id" chekbox="false"></th>
                    <th field="name" width="150">Name</th>
                    <th field="description" width="200">Description</th>
                    <th field="parentTask">Parent Task</th>
                    <th field="details"/>
                </tr>
                </thead>
            </table>
        </div>

        <div class="space-from-top">
            <button class="btn btn-primary" id="create-task">Create task</button>
            <button class="btn btn-warning disabled" id="edit-task">Edit task</button>
            <button class="btn btn-danger disabled" id="delete-task">Delete task</button>
        </div>
    </div>

    <div class="modal fade" id="create-task-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create task</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="nameCreate" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="descriptionCreate" class="form-control" placeholder="Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="plannedStartDateCreate" class="form-control" placeholder="Planned Start Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="plannedEndDateCreate" class="form-control" placeholder="Planned End Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="parentTaskCreate">Parent Task</label>
                                </div>
                                <select class="custom-select" id="parentTaskCreate">

                                </select>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="users-create">Assigned To</label>
                            </div>
                            <select class="custom-select" id="users-create" multiple="true">
                                <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getFirstName() + ' ' + user.getLastName() + (user.getEmail() ==  null ? '' : (' [' + user.getEmail() + ']'))}">
                                </option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="saving-create-task">Saving...</span>
                    <a class="btn btn-primary" href="#" id="save-created-task">Create</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-task-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit task</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div>
                                <input type="hidden" id="editingTaskId">
                            </div>
                            <div class="form-label-group">
                                <input type="text" id="nameEdit" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="descriptionEdit" class="form-control" placeholder="Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="plannedStartDateEdit" class="form-control" placeholder="Planned Start Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="plannedEndDateEdit" class="form-control" placeholder="Planned End Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="actualStartDateEdit" class="form-control" placeholder="Actual Start Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="actualEndDateEdit" class="form-control" placeholder="Actual End Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="projects-edit">Project</label>
                                </div>
                                <select class="custom-select" id="projects-edit">

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3" id="parent-task-area-Edit">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="parentTaskEdit">Parent Task</label>
                                </div>
                                <select class="custom-select" id="parentTaskEdit">

                                </select>
                            </div>
                        </div>
                        <div class="input-group mb-3 d-none">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="users-edit">Assigned To</label>
                            </div>
                            <select class="custom-select" id="users-edit" multiple="true">
                                <option th:each="user : ${users}" th:value="${user.getId()}" th:text="${user.getFirstName() + ' ' + user.getLastName() + (user.getEmail() ==  null ? '' : (' [' + user.getEmail() + ']'))}">
                                </option>
                            </select>
                        </div>
                        <h5>Assignment Status</h5>
                        <div class="task-status panel-body">
                            <ul class="list-group" id="status-by-user">

                            </ul>
                        </div>
                        <div>
                            <select id="users-to-add-for-assignment"></select>
                            <button class="btn-primary add-assignment-user">Add user</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="loading-edit-task">Loading...</span>
                    <span id="saving-edit-task">Saving...</span>
                    <a class="btn btn-primary" href="#" id="save-edited-task">Save</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script th:src="@{/scripts/manageTasks.js}"></script>
</body>
</html>