<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:th="http://www.thymeleaf.org">
    <title>Manage projects</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="navbar-menu-left flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-menu flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item" sec:authorize="hasAnyAuthority('manage_users')">
                            <a class="nav-link text-dark" href="/users">Manage users</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link text-dark" href="/tasks">Manage tasks</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form method="POST" th:action="@{/logout}">
                                <input type="submit" value="Logout" style="border: 0px;"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="space-from-top" id="projects-grid-area">
            <table id="projects-datagrid" class="easyui-datagrid"
                   rownumbers="true" pagination="true">
                <thead>
                    <tr>
                        <th field="id" chekbox="false"></th>
                        <th field="name" width="150">Name</th>
                        <th field="description" width="200">Description</th>
                        <th field="status" width="80">Status</th>
                        <th field="plannedStartDate" width="100">Planned Start</th>
                        <th field="plannedEndDate" width="100">Planned End</th>
                        <th field="actualStartDate" width="100">Actual Start</th>
                        <th field="actualEndDate" width="100">Actual End</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="space-from-top">
            <button class="btn btn-primary" id="create-project">Create project</button>
            <button class="btn btn-warning disabled" id="edit-project">Edit project</button>
            <button class="btn btn-danger disabled" id="delete-project">Delete project</button>
        </div>
    </div>

    <div class="modal fade" id="create-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create project</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="nameCreate" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="descriptionCreate" class="form-control" placeholder="Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="plannedStartDateCreate" class="form-control" placeholder="Planned Start Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="plannedEndDateCreate" class="form-control" placeholder="Planned End Date">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="saving-create-project">Saving...</span>
                    <a class="btn btn-primary" href="#" id="save-created-project">Create</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit project</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div>
                                <input type="hidden" id="editingProjectId">
                            </div>
                            <div class="form-label-group">
                                <input type="text" id="nameEdit" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="descriptionEdit" class="form-control" placeholder="Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="plannedStartDateEdit" class="form-control" placeholder="Planned Start Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="plannedEndDateEdit" class="form-control" placeholder="Planned End Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="actualStartDateEdit" class="form-control" placeholder="Actual Start Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-label-group">
                                <input type="text" id="actualEndDateEdit" class="form-control" placeholder="Actual End Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="statuses-edit">Status</label>
                                </div>
                                <select class="custom-select" id="statuses-edit">

                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <span id="loading-edit-project">Loading...</span>
                    <span id="saving-edit-project">Saving...</span>
                    <a class="btn btn-primary" href="#" id="save-edited-project">Save</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.jeasyui.com/easyui/jquery.easyui.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script th:src="@{/scripts/manageProjects.js}"></script>
</body>
</html>