<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:sec="http://www.springframework.org/security/tags"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Details</title>

    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="https://www.jeasyui.com/easyui/themes/icon.css">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="navbar-menu-left flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/">Home</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-menu flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item" sec:authorize="hasAnyAuthority('manage_users')">
                            <a class="nav-link text-dark" href="/users">Manage users</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAnyAuthority('manage_projects')">
                            <a class="nav-link text-dark" href="/projects">Manage projects</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <a class="nav-link text-dark" href="/tasks">Manage tasks</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAuthenticated()">
                            <form method="POST" th:action="@{/logout}">
                                <input type="submit" value="Logout" style="border: 0px;"/>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container space-from-top">
        <h5 class="space-from-top">Name</h5>
        <span th:text="${task.getName()}"></span>
        <h5 class="space-from-top">Description</h5>
        <span th:text="${task.getDescription()}"></span>
        <h5 class="space-from-top">Status</h5>
        <span th:text="${task.getStatus()}"></span>
        <h5 class="space-from-top">Planned Start Date</h5>
        <span th:text="${#dates.format(task.getPlannedStartDate(), 'MM/dd/yyyy')}"></span>
        <h5 class="space-from-top">Planned End Date</h5>
        <span th:text="${#dates.format(task.getPlannedEndDate(), 'MM/dd/yyyy')}"></span>
        <h5 class="space-from-top">Actual Start Date</h5>
        <span th:if="${task.getActualStartDate() != null}" th:text="${#dates.format(task.getActualStartDate(), 'MM/dd/yyyy')}"></span>
        <span th:if="${task.getActualStartDate() == null}" >None</span>
        <h5 class="space-from-top">Actual End date</h5>
        <span th:if="${task.getActualEndDate() != null}" th:text="${#dates.format(task.getActualEndDate(), 'MM/dd/yyyy')}"></span>
        <span th:if="${task.getActualEndDate() == null}">None</span>
        <h5 class="space-from-top">Created On</h5>
        <span th:text="${#dates.format(task.getCreatedOn(), 'MM/dd/yyyy')}"></span>
        <h5 class="space-from-top">Created By</h5>
        <span th:text="${task.getCreatedBy().getFirstName() + ' ' + task.getCreatedBy().getLastName() + ' [' + task.getCreatedBy().getEmail() + ']'}"></span>
        <h5 class="space-from-top">Parent Task</h5>
        <a th:if="${task.getParentTask() != null && task.getParentTask().getId() != null}" th:text="${task.getParentTask().getName()}" th:href="'/tasks/' + ${task.getParentTask().getId()}"></a>
        <span th:if="${task.getParentTask() == null || task.getParentTask().getId() == null}">None</span>
        <h5 class="space-from-top">Assigned To</h5>
        <span th:if="${task.getAssignees().isEmpty()}">None</span>
        <div th:if="${!task.getAssignees().isEmpty()}" th:each="assignee : ${task.getAssignees()}">
            <span th:text="${assignee.getFirstName() + ' ' + assignee.getLastName() + ' [' + assignee.getEmail() + '] -'}"></span>
            <th:block th:switch="${assignee.getStatusId()}">
                <span th:case="1">not started</span>
                <span th:case="2">in progress</span>
                <span th:case="3">completed</span>
            </th:block>
        </div>
    </div>
</body>
</html>